# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node modules
node_modules/

# Vite build output
dist/
dist-ssr/

# Local environment files
*.env
*.local

# Vite cache
.vite/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mac / Windows hidden files
Thumbs.db
*.DS_Store
